.carousel
  position: relative
  width: 100%
  height: 415px
  border-radius: 10px

.carousel__button
  position: absolute
  top: 50%
  transform: translateY(-50%)
  background-color: transparent
  border: none
  font-size: 24px
  color: white
  cursor: pointer

.carousel__button--prev
  left: 10px
  z-index: 1

.carousel__button--next
  right: 10px
  z-index: 1

.carousel__image-container
  position: relative
  width: 100%
  height: 100%
  border-radius: 10px
  overflow: hidden

.carousel__image
  width: 100%
  height: 100%
  object-fit: cover

.carousel__image-number
  position: absolute
  bottom: 10px
  left: 50%
  transform: translateX(-50%)
  color: white
  font-weight: bold