

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  border-radius: 20px;
  background-color: #F6F6F6;
  padding: 20px;
  margin-bottom: 40px;
  @media only screen and (max-width: 600px) {
    background-color: white;
  }
}
