.infos
  display: flex
  justify-content: space-between
  align-items: flex-start


.left-section
  flex: 2

.collapse-container
  display: flex
  flex-wrap: wrap
  justify-content: space-between

  .collapse
    width: 48%

  @media (max-width: 768px)
    .collapse
      width: 100%

@media (max-width: 768px)
  .infos
    flex-direction: column
  .right-section
    width: 100%