@import 'variables';

.rating {
  display: inline-block;
}

.star {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: gray;
  margin-right: 2px;
}

.filled {
  background-color: $primary-color;
}
