@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$font-family-sans-serif: 'Montserrat', sans-serif;

.App {
  text-align: center;
  font-family: $font-family-sans-serif;
}
